.btn-danger.inverted {
	background: white;
	border: 1px solid #d9534f;
	color: #d9534f;
}

.btn-danger.inverted:hover, .btn-danger.inverted:active, .btn-danger.inverted:active:hover {
	border: 1px solid #c9302c;
	color: #c9302c;
}

.btn-success.inverted {
	background: white;
	border: 1px solid #93c54b;
	color: #93c54b;
}

.btn-success.inverted:hover, .btn-success.inverted:active, .btn-success.inverted:active:hover {
	border: 1px solid #449d44;
	color: #449d44;
}

.form-inline {
	display: inline;
}

.document-summarized {
	height: 190px;
}

#ranked_documents_list .document-summarized{
	color: #777;
}

#ranked_documents_list .good-document {
	color: black;
}

.highlighted-green {
	color: green;
	font-weight: bold;
}

.highlighted-red {
	color: red;
	font-weight: bold;
}